<div id="nav">
  <div class="nav-inner">
    <form class="terminal" action="">
      <input type="text" placeholder="start typing or click here to navigate" />
    </form>
    <div class="guide">
      <div class="header clearfix">
        <div class="left">
          section
        </div>
        <div class="right">
          desc
        </div>
      </div>
      <div class="content-row clearfix">
        <div class="left">
          work
        </div>
        <div class="right">
          view projects that I have worked on
        </div>
      </div>
      <div class="content-row clearfix">
        <div class="left">
          musings
        </div>
        <div class="right">
          my thoughts and feelings about things
        </div>
      </div>
    </div>
  </div>
</div>
<div id="banner">
  <div class="placeholder"></div>
  <div class="banner-outer">
    <div class="banner-inner clearfix">
      <div class="banner-logo">dancarlo</div>
      <div class="banner-dev-des">{ designer developer };</div>
    </div>
  </div>
  <div class="down-arrow">Scroll down for more</div>
</div>
<div id="works">
  <div id="work" class="content">
    <div class="content-inner">
      <h1>work</h1>
      <h2>projects i've worked on</h2>
    </div>
  </div>
  <div id="betterific" class="single-work">
    <div class="content-wrap clearfix">
      <div class="active content normal dark-bg">
        <div class="content-inner">
          <div class=" betterific-info">
            betterific is your digital suggestion box
          </div>
          <div class="role"><h3>role: </h3>Software Engineering &amp; Design</div>
          <%= link_to "http://www.betterific.com", "http://www.betterific.com", class: 'link', target: '_blank' %>
        </div>
      </div>
      <div class="content mba light-bg">
      </div>
      <div class="content mba light-bg">
      </div>
    </div>
    <div class="nav">
      <div class="arrow horiz white right active"></div>
      <div class="arrow horiz white left"></div>
    </div>
  </div>
  <!-- <div class="single-work">
    <div class="content-wrap clearfix">
      <div class="active content normal dark-bg">
        <div class="content-inner betterific-info">
          betterific is your digital suggestion box. role: Software Engineering
        </div>
      </div>
      <div class="content mba light-bg">
      </div>
      <div class="content mba light-bg">
      </div>
    </div>
    <div class="nav">
      <div class="arrow horiz white right active"></div>
      <div class="arrow horiz white left"></div>
    </div>
  </div> -->
</div>
